
article,aside,details,figure,footer,header,menu,nav,section {
	display: block;
}
body {
  background-color: lightblue;
  font-family: 'Source Sans Pro', sans-serif;
}

h1 {
  color: white;
  text-align: left;
  font-family: 'Roboto', sans-serif;
}

p {
  font-family: verdana;
  font-size: 1em;
  line-height: 1.4em;
  margin-bottom: 20px;
  color #666666;
}

#cv {
	width: 95%;
	max-width:1000px;
	margin-left: auto;
 	margin-right:auto;
 	padding:20px;
}

section {
	border-top: 1px solid #5BC0BE;
	padding: 20px 0 0;
	margin-bottom: 20px;
}